.App {
  margin: 5px;
  text-align: center;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1rem
}

.weather-container {
  display: grid;
  border: 1px solid gray;
  /* max-width: 500px; */
  padding: 10px
}

.weather-container p {
  font-size: 12px
}

.weather-container img {
  width: 50px
}

.news-container {
  /* max-width: 500px; */
  border: 1px solid gray
}
